html {
    min-width: 320px;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.modal-header {
    padding: 0.5rem;
    border-bottom: none;
}
.modal-body {
    padding: 0.5rem 1rem;
}

/*Блок меню*/
.wrapper {
    display: flex;
    min-height: 100vh;
    flex: 1;
}

a {
    color: rgb(239, 239, 239);
    text-decoration: none;
}

.menu {
    width: 200px;
    min-width: 170px;
    background-color: rgb(47, 48, 50);
    display: flex;
    flex-direction: column;
}

.menu input[type=checkbox] {
    display: none;
    opacity: 0;
}

.menu-btn {
    display: none;
}

.menu a:hover,
label,
.icons:hover,
.conf:hover,
nav.tabs label,
.subscribe button,
.recipe-box {
    cursor: pointer;
}

.logo {
    display: block;
    margin: 40px auto;
}

div.menu-list {
    flex-grow: 1;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 40px;
    -webkit-transition: height 200ms;
    -moz-transition: height 200ms;
    -ms-transition: height 200ms;
    -o-transition: height 200ms;
    transition: height 2s linear;
}

.menu-list ul {
    list-style-type: none;
    padding-left: 0;
    z-index: 3;
    height: 50%;
    margin: auto;
}

.menu-list li {
    text-align: center;
    text-decoration: none;
    color: rgb(239, 239, 239);
}

.menu-list .list-group-item.active li {
    background-color: rgb(37, 38, 40);
    border-left: 3px solid rgb(217, 190, 143);
}

.menu-list li:hover {
    text-decoration: underline;
}

.filters {
    display: flex;
    position: relative;
    padding: 10px 0 20px;
    width: 100%;
    justify-content: space-between;
}
.filters .selectboxes {
    display: flex;
}
.filters .actions .button {
    background: #C3B089;
    color: #fff;
    outline: none;
    border: none;
    font: 400 14px Oswald;
    padding: 10px 40px;
}

.social-networks {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.social-networks a {
    color: rgb(239, 239, 239);
    text-decoration: none;
}

.social-networks i {
    padding: 0 5px;
}


/*Основной блок*/
.page {
    position: relative;
    flex: 1;
    overflow: auto;
    max-height: 100vh;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

label {
    transition: all 250ms;
}

.icon-box {
    display: flex;
}

.icon-box button {
    background: none;
    border: none;
    outline: none;
}

.form-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-content label {
    display: flex;
    padding: 0 0 5px 0;
    flex-direction: column;
}
.form-content input{
    height: 25px;
}

.form-content button {
    background-color: rgb(211, 211, 211);
    padding: 5px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    margin-top: 5px;
}

.icons {
    font-size: 20px;
    color: rgb(211, 211, 211);
    margin: 0 10px;
}


.search-box {
    width: 250px;
    font-size: 20px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    align-items: center;
    display: flex;
}

.search-box input#search {
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    color: rgb(211, 211, 211);
    padding-left: 15px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-box input#search::-webkit-input-placeholder {
    color: rgb(211, 211, 211);
}

.search-box .icon-search {
    color: rgb(47, 48, 50);
}

.search-box input#search:focus,
.search-box input#search:active,
.search-box:hover input#search {
    outline: none;
    width: 300px;
    color: rgb(0, 0, 0);
}

.line {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-top: -30px;
}

.line img {
    margin: 0 5px 0 10px;
}

.separator {
    background-color: rgb(218, 218, 218);
    position: relative;
    flex: 1;
    height: 2px;
}

.content h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}


.news {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.news > div {
    margin-bottom: 10px;
    background-size: auto 300px;
    background-position: 0 0;
}

.conf:hover {
    background-size: auto 330px;
    background-position: -30px -30px;

}

.conf {
    transition: all 1s;
}

.news > div:nth-child(1),
.news > div:nth-child(2),
.news > div:nth-child(3),
.news > div:nth-child(8) {
    width: calc(50% - 5px);
    height: 300px;
    position: relative;
    overflow: hidden;
}

.news > div:nth-child(4),
.news > div:nth-child(5),
.news > div:nth-child(6),
.news > div:nth-child(7) {
    position: relative;
    height: 300px;
    width: calc(25% - 8px);
    overflow: hidden;
}

.news > div:nth-child(1),
.news > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news > div:nth-child(1) div.header2,
.news > div:nth-child(2) div.header2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    color: rgb(255, 255, 255);
}

.news > div:nth-child(1) div.header1,
.news > div:nth-child(2) div.header1 {
    font-weight: lighter;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
    color: rgb(255, 255, 255);
}

.news > div:nth-child(3) div.header2,
.news > div:nth-child(4) div.header2,
.news > div:nth-child(5) div.header2,
.news > div:nth-child(6) div.header2,
.news > div:nth-child(7) div.header2,
.news > div:nth-child(8) div.header2 {
    background-color: rgb(239, 239, 239);
    text-transform: uppercase;
    opacity: 0.8;
    margin: 10px;
}

div.content div.news div.bg:hover {
    background-size: 330px;
    background-position: -20px -70px;
}

div.content div.news div.bg {
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 0 -50px;
    transition: all 1s;
}

.news > div:nth-child(1) {
    background-image: url("../img/ponchiki_sladkoe_vypechka_132916_1280x720.jpg");

}

.news > div:nth-child(2) {
    background-image: url("../img/oladi_zavtrak_iagody_125038_3840x2160.jpg");
}

.news > div:nth-child(3) {
    background-image: url("../img/zavtrak_kasha_vafli_frukty_115145_3840x2160.jpg");
}

.news > div:nth-child(4) {
    background-image: url("../img/meat.jpg");
}

.news > div:nth-child(5) {
    background-image: url("../img/granola.jpg");
}

.news > div:nth-child(6) {
    background-image: url("../img/avocado.jpg");
}

.news > div:nth-child(7) {
    background-image: url("../img/chernika.jpg");
}

.news > div:nth-child(8) {
    background-image: url("../img/kakao_zefir_ruki_135081_1280x720.jpg");
}

.news .conf img {
    width: 80px;
}

.line2 {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

nav.tabs {
    background-color: rgb(239, 239, 239);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 10px 0 20px;
    padding: 10px 0;
}

nav.tabs label {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#new-rec:checked ~ .tabs label[for="new-rec"],
#recom:checked ~ .tabs label[for="recom"],
#pop:checked ~ .tabs label[for="pop"]
{
    background-color: #2F3032;
    color: rgb(239, 239, 239);
}

#new-rec, #recom, #pop {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.recipes .is-new-rec,
.recipes .is-pop,
.recipes .is-recom {
    display: none;
}
#new-rec:checked ~ .recipes .is-new-rec,
#pop:checked ~ .recipes .is-pop,
#recom:checked ~ .recipes .is-recom {
    display: flex;
}

/*страница news*/

.recipes {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
}

div.recipe-box {
    display: flex;
    flex-flow: nowrap;
    height: 200px;
    width: calc(50% - 5px);
    margin-bottom: 10px;
}

.recipe-box > div {
    width: 100%;
    overflow: hidden;
    background-size: auto 200px;
}

.recipe-box div.bg-rec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recipe-box:nth-child(1) > div:first-child {
    background-image: url("../img/pasta2.jpg");
}

.recipe-box:nth-child(2) > div:first-child {
    background-image: url("../img/kotlety.jpg");
}

.recipe-box:nth-child(3) > div:first-child {
    background-image: url("../img/tosty.jpg");
}

.recipe-box:nth-child(4) > div:first-child {
    background-image: url("../img/ pasta1.jpg");
}

.recipe-box:nth-child(5) > div:first-child {
    background-image: url("../img/vafli.jpg");
}

.recipe-box:nth-child(6) > div:first-child {
    background-image: url("../img/pizza.jpg");
}

.recipe-info {
    padding: 0 5px;
    border: lightgray 1px solid;
    border-left: none;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-info h3 {
    text-align: center;
    margin: 10px 0;
}

.recipe-info > div {
    height: auto;
    text-align: justify;
}


.recipe-info .info + div {
    position: relative;
    text-align: justify;
    line-height: 1.2em;
    max-height: 3.6em;
    height: 3.6em;
    font-weight: 300;
    overflow: hidden;
    /* margin-right: -1em; */
    padding-right: 1em;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.recipe-info .info + div:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.recipe-info .info + div:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.info {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.info div {
    color: rgb(217, 190, 143);
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 12px;
}

.recipes .recipe-box .recipe-info .recipe-box-footer {
    border-top: lightgray 1px solid;
    box-sizing: border-box;
    height: auto;
}

.recipe-box-footer {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    border-right: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    box-sizing: border-box;
}

.recipe-box-flex {
    display: flex;
    flex-direction: column;
}

.recipe-box-footer .like span {
    font-size: 13px;
    color: rgb(211, 211, 211);
}

div.sn {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

div.like i,
div.sn i {
    color: rgb(211, 211, 211);
    text-decoration: none;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-footer {
    margin: 0 20px;
    padding-inline-start: 0;
}

footer .list-footer a li {
    display: inline-block;
    color: rgb(150, 150, 150);
    list-style: none;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 10px;
}

.social-networks-footer i {
    font-size: 13px;
    margin-right: 5px;
}

.social-networks-footer {
    margin: 0 20px;
}

.author-top {
    display: flex;
    overflow: auto;
    justify-content: center;
    width: 100%;
}

.author-top img {
    border-radius: 65px;
    width: 65px;
    height: 65px;
    margin: 10px 15px;
}

.subscribe {
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;

}

h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.subscribe label {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.subscribe input {
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    outline: none;
}

.subscribe button {
    width: 20px;
    height: 20px;
    top: 5px;
    right: 0;
    color: rgb(239, 239, 239);
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    position: absolute;
    border: none;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .menu {
        width: 100%;
    }

    .menu .social-networks {
        display: none;
    }

    .menu .logo {
        display: flex;
        justify-content: space-between;
        margin: 10px 30px;
    }

    .menu .menu-list {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .page {
        overflow: visible;
    }

    .menu-btn {
        display: block;
        font-size: 32px;
        color: rgb(239, 239, 239);
    }

    .menu > input:checked ~ .menu-list {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
}


@media only screen and (max-width: 320px) {
    .news > div.conf {
        width: 100%;
    }

    .search-box {
        width: 200px;
    }

    .icons {
        margin: 0 5px;
    }

    div.recipe-box {
        width: 100%;
        height: 400px;
        flex-wrap: wrap;
    }

    div.recipe-box .bg-rec {
        min-height: 200px;
    }

    .recipe-box-footer, .recipe-info {
        border: lightgray 1px solid;
    }

    .recipe-info {
        border-bottom: none;
    }

    nav.tabs {
        overflow: auto;
        font-size: 14px;
        width: calc(100vw - 35px);
        margin: 10px 0 15px;
        padding: 5px 0;
    }

    nav.tabs label {
        padding: 5px 10px;
    }
}
